<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitterPhotosGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwitterPhotosGrabber.Properties.Settings>
      <setting name="IS_LOGIN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TWITTER_ACCESS_TOKEN" serializeAs="String">
        <value />
      </setting>
      <setting name="TWITTER_ACCESS_TOKEN_SECRET" serializeAs="String">
        <value />
      </setting>
      <setting name="TWITTER_CURRENT_APPLICATION" serializeAs="String">
        <value>0</value>
      </setting>
    </TwitterPhotosGrabber.Properties.Settings>
  </userSettings>
</configuration>
